{% extends "base.html" %}


{% block style %}

{% endblock style %}


{% block content %}
<h1>Products</h1>
<p>
<form method="GET" action="">
<input type='text' name='q' placeholder='Search' value='{{ request.GET.q }}'>
<input type='submit' value='Search'/>
</form>
</p>
<ul>
{% for instance in object_list %}
    <li class="{% cycle 'abc' 'def' '' 'abc' %}"><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a><br/>
    	{{ instance.description|truncatechars:100 }}<br/>
    	{{ instance.price }}</li>
{% empty %}
    <li>No Products yet.</li>
{% endfor %}
</ul>


{% endblock %}