{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>




{% if apply_form %}

<form method='POST' action=''> {% csrf_token %}
	<h3>Rules of the Marketplace</h3>
	<ol>
		<li>
			Be kind
		</li>
		<li>
			Sell well
		</li>
		<li>
			Don't steal
		</li>
	</ol> 
{{ apply_form.as_p }} 
<br/>
<input type='submit'/>
</form>

{% endif %}



{% if products %}
<div class='pull-right col-sidebar '>
	<h4>My Products<br/><small><a href='{% url "sellers:product_create" %}'>Add</a> | <a href='{% url "sellers:product_list" %}'>View All</a></small></h4>
{% include "products/product_list_snippet.html" with product_list=products %}
</div>

{% endif %}



{% if transactions %}
<div class='pull-left col-primary '>
<h3>Today's sales are ${{ today_sales }}</h3>
{% include "sellers/transaction_list.html" with transaction_list=transactions_today %}

<br/>
	<h3>Recent Transaction History (Total Sales: ${{ total_sales }})</h3>
{% include "sellers/transaction_list.html" with transaction_list=transactions %}


<p>
<a href='{% url "sellers:transactions" %}'>View all transactions</a>
</p>
</div>


{% endif %}




{% endblock %}