{% extends "base.html" %}


<script>
$(document).ready(function(){
	{% block jquery %}
	$("#test-call").click(function(event){
		event.preventDefault();
		// $("#content").html("Hello there!")
		$.ajax({
			method: "POST",
			url: "{% url 'test'  %}",
			data: {
				testData: "Hello new data",
				csrfmiddlewaretoken: "{{ csrf_token }}",
			},
			success: function(data, textStatus, jqXHR){
				console.log(data.works)
				if (data.works) {
					$("#content").html(data.time)
				}
				// console.log(textStatus)
				// console.log(jqXHR)
			},
			error: function(jqXHR, textStatus, errorThrown){
				// console.log(errorThrown)
				// console.log(textStatus)
				// alert(errorThrown)
				if (jqXHR.status == 404) {
					alert("Page not found!")
				}
				console.log(jqXHR.status)
			}
		})
	})

	{% endblock jquery %}
})
</script>





{% block content %}


<a id='test-call' href='http://joincfe.com/'>Test Ajax</a>

<div id='content'></div>

{% endblock %}